<div class="row">
    <div class="col-sm-12">
        <div class="well" style="position: relative">
            <div class="post">
                <div class="post__meta">
                    <a href="/+{{ post.author.username }}">
                        +{{ post.author.username }}
                    </a>
                </div>

<!--TODO : new post created does not evalute for ng-if-->
                <div class="overlay" ng-if="post.author.id==vm.user.id">
                    <md-button class="md-fab md-primary md-mini" aria-label="Edit">
                        <md-icon md-svg-src="static/img/ic_border_color_white_18px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn md-mini" aria-label="Delete"
                               ng-click="vm.deletePost(post.id)">
                        <md-icon md-svg-src="static/img/ic_delete_white_18px.svg"></md-icon>
                    </md-button>
                </div>

                <div class="post__content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
</div>